body {
	font-family: Open Sans, Arial, sans-serif;
	font-size:  1em;
	color:  #444;
	font-weight:  400;
}
#container {
 	width: 100%;
 	max-width: 1200px;
 	margin: 0 auto;
 	border-bottom: 50px solid #33485e;
}
/* Top of the page */
#name {
	font-size: 3em;
	color: #33485e;
	text-transform: uppercase;
	border-bottom: 1px solid #33485e;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	text-align: center;
}
#title {
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
/* former image */
img{
	display: none;
}

b {
	text-transform: uppercase;
	font-size:  1.5em;
	color: #33485e;
}
/* contact info */
#menu {
	margin: 0 auto;
	text-align: center;

}
/* Sections */
.sectionheader {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: white;
	font-weight: 400;
	width:  70%;
	min-width: 300px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}


.jobtitle {
	font-weight:  600;
	font-size: 1.5em;
}

.organization{
	font-weight:  400;
	font-size: 1.25em;
}
#degrees {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.date{
	margin-top: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	font-weight: 400;
	font-style: italic;
	font-size: 1em;
}
.do {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.description{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;

ul li{
	font-size: 1em;
}
